.weekdayHead {
  display: grid;
  border: 0.8px solid #dadada;
  justify-items: center;
  /* margin-left: 2rem; */
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 0;
  text-align: center;
}
.weekdayHead li {
  list-style: none;
  justify-content: center;
  padding: 1rem;
  font-weight: bold;
  color: rgb(85, 84, 84);
  width: 2rem;
}
