.weekdayHead {
  padding-left: 5rem;
  display: grid;
  border: 0.8px solid #dadada;
  justify-items: center;
  /* margin-left: 2rem; */
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 0;
  text-align: center;
}
.weekdayHead li {
  list-style: none;
  justify-content: center;
  padding: 1rem;
  font-weight: bold;
  color: rgb(85, 84, 84);
  width: 2rem;
}
.weekdayHead li:nth-child(2) {
  background-color: #6c73db;
  color: #fff;
  border-radius: 1rem;
  padding: 0.4rem;
  padding-bottom: 0;
}
.weekdayHead li:nth-child(2n)::after {
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}
.weekdayHead li:nth-child(2)::after {
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ff0e0e98;
  border-radius: 50%;
  display: inline-block;
}
