.blockMain {
  list-style: none;
  height: 40rem;
  display: grid;
  margin-top: 0;
  /* margin-left: 2rem; */
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  /* padding-left: 0; */
}
.blocks {
  border: 0.8px solid #dadada;
  border-top: none;
  /* box-shadow: 0 0 0 0.8px #dadada; */
}

.blockMain li:nth-child(7n + 1) {
  position: relative;
  border-left: none;
  box-shadow: 0 0 1px 0px #dadada;
}
.time {
  position: absolute;
  bottom: -0.5rem;
  color: #b3b3b3;
  font-weight: 500;
  padding-right: 1.2rem;
  margin: 0;
  background-color: #fff;
  margin-right: 1.2rem;
  left: -1.8rem;
  z-index: 2;
}
